@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1623659855376') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chakanMV:before {
  content: "\e604";
}

.icon-bofang:before {
  content: "\e645";
}

.icon-bofang1:before {
  content: "\e66e";
}

.icon-play:before {
  content: "\e688";
}

